* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

.card {
    width: 45%;
    box-shadow: 15px -9px 20px 5px rgba(0,0,0,0.58);
    -webkit-box-shadow: 15px -9px 20px 5px rgba(0,0,0,0.58);
    -moz-box-shadow: 15px -9px 20px 5px rgba(0,0,0,0.58);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.card_left > span {
    font-weight: 400;
    color: gray;
}

.card_left > a {
    margin-top: 15px;
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.card_left > p {
    color: rgb(70, 70, 70);
}